{% extends 'blank.html' %}
{% block title %}
	<title>BABCOCK | SCHEDULE</title>
{% endblock %}


{% block content %}
{% load static %}
  {% csrf_token %}

    <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Event Schedule Calendar
          <small>Events Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Calendar</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h4 class="box-title">Draggable Events</h4>
              </div>
              <div class="box-body">
                <!-- the events -->
                <div id="external-events">
                  <div class="external-event bg-fuchsia">
                    <span class="title">DEMO EVENT</span>
                    <span hidden class="start">12:30 PM</span>
                  </div>
                  <div class="checkbox">
                    <label for="drop-remove">
                      <input type="checkbox" id="drop-remove">
                      remove after drop
                    </label>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /. box -->
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Create Event</h3>
              </div>
              <div class="box-body">
                <div class="btn-group" style="width: 100%; margin-bottom: 10px;">

                  <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                  <ul class="fc-color-picker" id="color-chooser">
                    <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                  </ul>
                </div>
                <div class="input-group">

                  <input id="new-event-title" type="text" class="form-control" placeholder="Event Title">
                  <input id="new-event-description" type="text" class="form-control" placeholder="Event Description">
                  <input style="margin-top: 10px" id="new-event-date" type="date" class="form-control" placeholder="Event Date">
                  <input style="margin-top: 10px" id="new-event-time" type="time" class="form-control" placeholder="Event Time">

                  <input style="margin-top: 10px" id="new-event-link" type="text" class="form-control" placeholder="Meeting Link">
                  <select id="venue_list" class="form-control" style="width: 100%;margin-top: 10px">
                    <option selected="selected">Select Venue</option>

                    {% for venue in venues %}
                      <option>
                        <span style="color: red">{{venue.name}}</span>
<!--                        <span style="color: green">{{venue.capacity}}</span>-->
                      </option>
                    {% endfor %}
                  </select>
                    {% if request.user.is_staff %}
                    <button type="button" id="add-venue" class="btn btn-success" data-toggle="modal" data-target="#add-venue-modal" ><i class="fa fa-plus bg-green"></i></button>
                    {% endif  %}

                  <div style="margin-top: 20px" class="">
                        <input class="form-check-input" type="checkbox" role="switch" id="venue-switch"/>
                        <label class="form-check-label" for="venue-switch">choose a physical venue</label>
                  </div>

                  <div class="input-group-btn">
                    <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
                  </div>
                </div>
                <div class="checkbox">
                    <label for="create_poll">
                      <input type="checkbox" id="create_poll">
                      Create Poll For Event
                    </label>
                </div>
                <div class="checkbox">
                    <label for="add_immediately">
                      <input type="checkbox" id="add_immediately">
                      Add Straight to Calendar
                    </label>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="box box-primary">
              <div class="box-body no-padding">

                <!-- THE CALENDAR -->
                <div id="calendar"></div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /. box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->


      <div class="modal fade" id="add-venue-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Venue Form</h4>
              </div>
              <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Venue Details</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST" action="/scheduler/add-venue"> {% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input required type="text" class="form-control" name="name" id="name" placeholder="Enter Venue Name">
                </div>
                <div class="form-group">
                  <label for="capacity">Capacity</label>
                  <input required type="number" class="form-control" name="capacity" id="capacity" placeholder="Capacity">
                </div>
                <div class="form-group">
                  <label for="coordinate">Coordinate</label>
                  <input type="text" class="form-control" name="coordinate" id="coordinate" placeholder="Coordinate">
                </div>
              </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </form>
          </div>
              <!-- /.box -->
              <!-- /.box-body -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

{% endblock %}

{% block extra_script %}

  <script>
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>

  <script>
    let allEvents;
    getEvents = ()=>{
      fetch('/api/scheduler/events')
      .then(response => response.json())
      .then(data => {
          allEvents = data.events;
          eventsReady();
      });

    }
    //  Get Events from Backend
    getEvents()
    function eventsReady() {
      $(function () {

      /* initialize the external events
       -----------------------------------------------------------------*/
      function init_events(ele) {
        ele.each(function () {

          // it doesn't need to have a start or end
          var eventObject = {
            title: $.trim($(this).find('span.title').text()), // use the element's text as the event title
            start: $.trim($(this).find('span.start').text()),
          }

          // store the Event Object in the DOM element, so we can get to it later
          $(this).data('eventObject', eventObject)

          // make the event draggable using jQuery UI
          $(this).draggable({
            zIndex        : 1070,
            revert        : true, // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
          })

        })
      }

      init_events($('#external-events div.external-event'))

      /* initialize the calendar
       -----------------------------------------------------------------*/
      $('#calendar').fullCalendar({
        header    : {
          left  : 'prev,next today',
          center: 'title',
          right : 'month,agendaWeek,agendaDay'
        },
        buttonText: {
          today: 'today',
          month: 'month',
          week : 'week',
          day  : 'day'
        },
        // events From server
        events    : allEvents,
        editable  : true,
        droppable : true, // this allows things to be dropped onto the calendar !!!
        drop      : function (date, allDay) { // this function is called when something is dropped

          // retrieve the dropped element's stored Event Object
          let originalEventObject = $(this).data('eventObject')

          // we need to copy it, so that multiple events don't have a reference to the same object
          let copiedEventObject = $.extend({}, originalEventObject)

          // assign it the date that was reported
          copiedEventObject.start           = Date.parse(date.toString())
          copiedEventObject.allDay          = allDay
          copiedEventObject.backgroundColor = $(this).css('background-color')
          copiedEventObject.borderColor     = $(this).css('border-color')

          // render the event on the calendar
          let venue;
          let event_type;
          if ( $(this).find('span.event_type_switch').text() === "true") {
            venue = $(this).find('span.venue_list').text()
            event_type = "physical"
          }else if($(this).find('span.event_type_switch').text() === "false"){
            venue = $(this).find('span.meeting_link').text()
            event_type = "virtual"
          }

          addEvent(
              copiedEventObject.title,
              Date.parse(date.toString()),
              $(this).find('span.description').text(),
              venue,
              event_type,
              $(this).find('span.has_poll').text(),
              $(this).css('background-color'),
              $(this).css('border-color')
          )
          .then(event => {
              copiedEventObject.id = event.id
              originalEventObject.id = event.id
              $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)
              toastr["success"]("Event Scheduled successfully","SUCCESS!")
          })
          .catch(error => {
              toastr["error"](error ,"Error!");

          });

          // is the "remove after drop" checkbox checked?
          if ($('#drop-remove').is(':checked')) {
            // if so, remove the element from the "Draggable Events" list
            $(this).remove()
          }

        },
        eventResize: function(event, delta, revertFunc) {
          //push to backend
          editEvent(event)
          .then(message => {
              toastr["success"](message,"SUCCESS!")
          })
          .catch(error => {
              toastr["error"](error ,"Error!");
              revertFunc()
          });

        },
        eventDrop: function(event, delta, revertFunc) {
          //push to backend
          editEvent(event)
          .then(message => {
              toastr["success"](message,"SUCCESS!")
          })
          .catch(error => {
              toastr["error"](error ,"Error!");
              revertFunc()

          });

        },
        eventClick: function(event, jsEvent, view) {
          // Calls this function when an event is clicked
          $('#calendar').fullCalendar('getCalendar').removeEvents(event.id);
          deleteEvent(event);
        }
      })


      /* ADDING EVENTS  START*/
      let currColor = '#050462' //Red by default

      //Color chooser button
      let colorChooser = $('#color-chooser-btn')
      $('#color-chooser > li > a').click(function (e) {
        e.preventDefault()
        //Save color
        currColor = $(this).css('color')
        //Add color effect to button
        $('#add-new-event').css({ 'background-color': currColor, 'border-color': currColor })
      })

      $('#add-new-event').click(function (e) {
        e.preventDefault()
        //Get value and make sure it is not null
        let event_title = $('#new-event-title').val()
        let event_date = $('#new-event-date').val()
        let event_time = $('#new-event-time').val()
        let desc = $('#new-event-description')
        let venue_list = $('#venue_list')
        let meeting_link = $('#new-event-link')

        if (event_title.length === 0 || event_date.length === 0 || event_time.length === 0) {
          toastr["warning"]("Please check the fields","WARNING!")
          return
        }

        //Create events
        let event = $('<div />')
        event.css({
          'background-color': currColor,
          'border-color'    : currColor,
          'color'           : '#fff'
        }).addClass('external-event')

        let title = $('<span />').addClass('title').appendTo(event);
        let time = $('<span />').addClass('time').appendTo(event);
        let date = $('<span />').addClass('date').appendTo(event);
        let dom_desc = $('<span />').addClass('description').appendTo(event);
        let dom_venue_list = $('<span />').addClass('venue_list').appendTo(event);
        let dom_meeting_link = $('<span />').addClass('meeting_link').appendTo(event);
        let dom_event_type = $('<span />').addClass('event_type_switch').appendTo(event);
        let dom_has_poll = $('<span />').addClass('has_poll').appendTo(event);

        title.html(event_title)
        date.html(event_date).prop('hidden', true);
        dom_desc.html(desc.val()).prop('hidden', true);
        dom_venue_list.html(venue_list.val()).prop('hidden', true);
        dom_meeting_link.html(meeting_link.val()).prop('hidden', true);
        if($('#venue-switch').is(':checked')) {
            dom_event_type.html("true").prop('hidden', true);
        }else {
            dom_event_type.html("false").prop('hidden', true);
        }
        if($('#create_poll').is(':checked')) {
            dom_has_poll.html("true").prop('hidden', true);
        }else {
            dom_has_poll.html("false").prop('hidden', true);
        }

        const [year, month, day] = event_date.split('-');
        const [hours, minutes] = event_time.split(":");


        const dateObj = new Date();
        dateObj.setFullYear(year);
        dateObj.setMonth(month - 1); // Months are zero-indexed
        dateObj.setDate(day);
        dateObj.setHours(hours);
        dateObj.setMinutes(minutes);

        const timezoneOffset = 60; // Time zone offset in minutes (GMT+1)
        const timeStamp = dateObj.getTime() + timezoneOffset * 60 * 1000; // Convert to GMT+1

        time.html(timeStamp).prop('hidden', true);

        $('#external-events').prepend(event)


        let newEventObject = {
            title: $.trim(event_title),
            start: $.trim(timeStamp),
        }
        let copiedEventObject = $.extend({}, newEventObject)
        copiedEventObject.start           = timeStamp
        copiedEventObject.backgroundColor = $(this).css('background-color')
        copiedEventObject.borderColor     = $(this).css('border-color')

        if ($('#add_immediately').is(':checked')) {

          // Push to backend
          let venue;
          let event_type;
          if ($('#venue-switch').is(':checked')) {
            venue = $('#venue_list').val()
            event_type = "physical"
          }else{
            venue = $('#new-event-link').val()
            event_type = "virtual"
          }
          addEvent(
                  copiedEventObject.title,
                  timeStamp,
                  desc.val(),
                  venue,
                  event_type,
                  $('#create_poll').is(':checked'),
                  $(this).css('background-color'),
                  $(this).css('border-color')
          )
          .then(event => {
              copiedEventObject.id = event.id
              // Add to the calendar
              $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)
              toastr["success"]("Event Scheduled successfully","SUCCESS!")
          })
          .catch(error => {
              toastr["error"](error ,"Error!");
          });
        }

        //Add to draggable(s)
        init_events(event)

        //Remove event from text input
        $('#new-event-title').val('')
        $('#new-event-date').val('')
        $('#new-event-time').val('')
        desc.val("")
        meeting_link.val("")
        venue_list.val("")
      })

      /* ADDING EVENTS  END*/
    })
    }
  </script>

  <script>
    addEvent = (title,
                start,
                description,
                venue,
                event_type,
                poll,
                backgroundColor,
                borderColor) => {

      return new Promise((resolve, reject) => {
          $.ajax({
              url: "/api/scheduler/event/",
              type: 'POST',
              data: {
                  'title': title,
                  'description': description,
                  'venue': venue,
                  'event_type': event_type,
                  'background_color': backgroundColor,
                  'border_color': borderColor,
                  'start': start,
                  'poll': poll,
              },
              dataType: "json",
              headers: {'X-CSRFToken': csrftoken},
              mode: 'same-origin',
              success: function (response) {
                  if (response.success) {
                      resolve(response.event);
                  } else {
                      reject(response.message);
                  }
              },
              error: function (xhr, status, error) {
                  reject(error);
              }
          });
      });
    };

    editEvent = (event)=>{
      return new Promise((resolve, reject) => {
          $.ajax({
            url: "/api/scheduler/event/",
            type: 'PATCH',
            data: {
                'title': event.title,
                'id': event.id,
                'start': event.start.valueOf(),
                'end': event.end?.valueOf(),
            },
            dataType: "json",
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin',
            success: function (response) {
                if (response.success) {
                    // toastr["success"](response.message,"SUCCESS!")
                    resolve(response.message);
                } else {
                    // toastr["error"](response.message,"Error!")
                    reject(response.message);
                }
            },
            error: function (xhr, status, error) {
                  reject(error);
            }
        });
      });
    }

    deleteEvent = (event)=>{
      $.ajax({
            url: "/api/scheduler/event/",
            type: 'DELETE',
            data: {
                'id': event.id,
            },
            dataType: "json",
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin',
            success: function (response) {
                if (response.success) {
                    toastr["success"](response.message,"SUCCESS!")
                } else {
                    toastr["error"](response.message,"ERROR!")
                }
            },
        })
    }
  </script>

  <script>

    $(document).ready(function() {
      $("#venue_list").hide();
      $("#add-venue").hide();

      $("#venue-switch").on("change", function() {
        if (!$(this).is(":checked")) {
          $("#new-event-link").show();
          $("#venue_list").hide();
          $("#add-venue").hide();
        } else {
          $("#new-event-link").hide();
          $("#venue_list").show();
          $("#add-venue").show();
        }
      });
    });

  </script>


{% endblock %}
